<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Tracker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Tracker.My.MySettings.ConnectionString" connectionString="Data Source=CTRHS-SQL2K;Initial Catalog=OncoNurse;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <!-- add key="SqlConnection1.ConnectionString" value="packet size=4096;integrated security=SSPI;data source=&quot;ctrhs-dbserver&quot;;persist security info=False;initial catalog=CHCR" /-->
    <add key="ServerCode" value="2"   />
  </appSettings>
  <applicationSettings>
    <Tracker.My.MySettings>
      <setting name="CHCRTracker_UserInfo_user" serializeAs="String">
        <value>http://ctrhs-devnet/pardre1/ad/user.asmx</value>
      </setting>
      <setting name="StudyName" serializeAs="String">
        <value>OncoNurse</value>
      </setting>
    </Tracker.My.MySettings>
  </applicationSettings>
</configuration>